body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: rgb(179, 179, 179);
}
* {
  box-sizing: border-box;
  border-radius: 15px;
}

.calc-wrapper {
  border: 3px solid #000;
  width: 100%;
  padding: 40px 10px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: rgb(126, 177, 235);
}

.display input {
  width: -webkit-fill-available;
  height: 2rem;
  font-size: 1.5rem;
  text-align: right;
  outline: none;
  cursor: initial;
  padding: 2px 10px;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.num-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 5px #000;
}
.num-btn:hover {
  background-color: rgb(107, 107, 107);
  color: #fff;
}
.num-btn:active {
  background-color: #000;
}

#zero {
  grid-column: 1 / span 2;
}

.clear-equals {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.clear,
.equals {
  background-color: #fff;
  border: 1px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
}
.clear:hover {
  background-color: rgb(207, 207, 142);
}
.clear:active {
  background-color: rgb(250, 250, 33);
}
.equals:hover {
  background-color: rgb(147, 219, 147);
}
.equals:active {
  background-color: rgb(61, 192, 61);
}